{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/previous_main.css') }}">
{% endblock %}

{% block content %}
{% include 'navbar.jinja2' %}

<div id="ask-page" class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="pl-4 pr-4" style="width: 80%;">
    <div class="container mt-4">
        <!-- Select Document Section -->
        <div class="form-group">
            <h2 class="form-label">Select Documents to Pose Your Question:</h2>

            {# <h3 class="form-label">Please use control + click to select mutiple documents!</h3> #}
            <div class="documents-container">
                <!-- Each document will be a clickable div here, populated by JavaScript -->
            </div>
            <div class="selected-count">0 documents selected</div>
        </div>

        <!-- Input Keywords Section -->
        <div class="form-group">
            <h2 class="form-label" for="question-input">Input keywords</h2>
            <input type="text" id="question-input" class="form-control" placeholder="Enter your keywords here">
            <button id="ask-button" class="btn btn-primary mt-2 choose-file-container" style="background: #5eb9d7; color: white; border-radius: 2px; border: 1px solid #5eb9d7; width: 100%; max-width: 250px;">Ask</button>
            <!-- Removed the 'question-response' div -->
        </div>

        <button id="toggleDataframe" class="btn btn-primary mt-2 choose-file-container" style="background: #5eb9d7; color: white; border-radius: 2px; border: 1px solid #5eb9d7; width: 100%; max-width: 250px;">Toggle Top 5 Data Sections</button>

        <!-- Container for the dataframe (now displayed by default) -->
        <div id="dataframeContainer" style="display: block;">
             <div id="user-question-display" class="mt-4"></div>
            <div id="dataframe" class="mt-4"></div>
        </div>

        <script>
            // JavaScript to toggle the visibility of the dataframe container
            document.getElementById('toggleDataframe').addEventListener('click', function() {
                const dataframeContainer = document.getElementById('dataframeContainer');
                dataframeContainer.style.display = dataframeContainer.style.display === 'none' ? 'block' : 'none';
            });
        </script>
    </div>
  </div>
</div>
{% endblock %}

{% block additionalscripts %}
  <script src="{{ url_for('static', filename='src/js/previous_main.js') }}"></script>
{% endblock %}
