{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/previous_main.css') }}">
{% endblock %}

{% block content %}
{% include 'navbar.jinja2' %}
<div class="intro-section">
    <div class="container">
        <h2 class="intro-title">Welcome to the SectionSeekerAI!</h2>
        <p class="intro-description">This bot is a search tool designed to find relevant data sections based on user-provided keywords. Simply upload a DOCX file, enter your search keywords, and the bot will display the most relevant information.</p>
        
        <h3 class="intro-how-to-use">Limitations of docx</h3>
        <p>Our AI bot is optimized for plain text and may encounter difficulties with DOCX files containing images or complex structures. For best results, please ensure your file is predominantly plain text.</p>
        
        <h3 class="intro-how-to-use">How to use the bot?</h3>
        <div class="intro-steps">
            <div>1. Upload a DOCX file containing the data you want to search through.</div>
            <div>2. Enter the keywords you want to search for.</div>
            <div>3. The bot will process the file and display the most relevant sections.</div>
        </div>
    </div>
</div>
{% endblock %}


{% block additionalscripts %}
  <script src="{{ url_for('static', filename='src/js/previous_main.js') }}"></script>
{% endblock %}
