{% extends "layout.jinja2" %}

{% block pagestyles %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/previous_main.css') }}">
{% endblock %}

{% block content %}
    {% include 'navbar.jinja2' %}
    <div class="intro-section" style="text-align: left;">
        <div class="container" style="text-align: left; padding-left: 50px;">
            <h2 class="intro-title" style="color: #5eb9d7;">🚀 Welcome to SectionSeekerAI!</h2>
            <p>SectionSeekerAI is your go-to tool for extracting pertinent sections from DOCX files. Just input your keywords, and let our bot fetch the information for you!</p>

            <h3 class="intro-how-to-use">🚫 Limitations</h3>
            <ul>
                <li><strong>File Type:</strong> Currently, only `.docx` files are supported.</li>
                <li><strong>Content Complexity:</strong> The bot is optimized for plain text. Documents with images or intricate structures may affect performance. It's best for business documents like handbooks or agreements.</li>
                <li><strong>Heading Styles:</strong> The AI's precision depends on the correct assignment of heading styles in the DOCX file. Incorrect styles might lead to segmentation issues, impacting search accuracy.</li>
            </ul> 

            <h3 class="intro-how-to-use">Step 0: Preparing Your Document</h3>
            <ul>
                <li>Section Identification: SectionSeeker AI primarily uses heading styles for sections. Additionally, GPT helps refine and categorize larger sections.</li>
                <li>Optimal Heading Styles: Apply only essential heading styles for best results. However, more styles improve processing speed.</li>
                <li>Performance Insight: A `.docx` file of about 4,000 words, when formatted correctly, is processed in under 15 seconds.</li>
                <li>Recognizable Styles: The AI detects headings based on Microsoft Word styles with terms like "Headings" or "SubTitle". See the example below:</li>
            </ul>
            <img src="https://github.com/LucasMYSDev/SectionSeeker_AI/assets/137337375/3d84de15-7027-4d65-95f7-09c83442637f" alt="heading_style_example">

            <h3 class="intro-how-to-use">Step 1: Getting Started</h3>
            <ul>
                <li>Start by logging in with the credentials provided in the Quick Start section.</li>
            </ul>

            <h3 class="intro-how-to-use">Step 2: Navigating Content</h3>
            <ul>
                <li>Access the content page by selecting "Contents" from the main navigation bar.</li>
            </ul>

            <h3 class="intro-how-to-use">Step 3: Document Management</h3>
            <ol>
                <li>Create a new folder.</li>
                <li>Select a folder and upload a document.</li>
                <li>After uploading, view processed documents by clicking "Documents" within the Contents page.</li>
            </ol>

            <h3 class="intro-how-to-use">Step 4: Engaging with Chat</h3>
            <ol>
                <li>Go to the chat page via the "Chat" option in the navigation bar.</li>
                <li>Select the document(s) you want to ask about.</li>
                <li>Press "Ask" or "Enter" to submit your question.</li>
                <li>The AI will provide the top 5 relevant sections, detailing:
                    <ul>
                        <li>Document source and section title.</li>
                        <li>Relevance score (percentage).</li>
                        <li>Extracted text identified by SectionSeeker AI.</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block additionalscripts %}
    <script src="{{ url_for('static', filename='src/js/previous_main.js') }}"></script>
{% endblock %}
